/* EXO 1 */
#mon-titre{
    color: blue;
    font-weight: bold;
    text-align: center;
    /* EXO 2 */
    margin: 0;
}

.mon-header{
    background-color: #acacac;
    /* EXO 2 */
    padding: 1.5em;
}

/* EXO 2 */
body{
    margin: 0;
}

.ma-super-liste{
    list-style-type: none;
}

li{
    display: inline;
    margin-left: 2em;
    margin-right: 2em; 
    /* margin: 0 2em 0 2em; */
}

.liens{
    text-decoration: none;
    color: inherit;
}


/* exo 3 */
.mon-magnifique-btn{
    border-radius: 25em;
    background-color: rgb(146, 251, 146);
    padding: 2em;
}

.mon-magnifique-btn:hover{
    background-color: #323232;
    color: white;
}



/* exo 4 */

.mes-articles{
    margin: 2em;
    border: dashed 2px grey;
    padding: 1.5em;
}

@font-face {
    font-family: "Roboto-test";
    src: url(../assets/fonts/Roboto/Roboto-Black.ttf);
}

h2, h3{
    font-family: 'Roboto-test', Arial, Helvetica, sans-serif;
}

.author{
    font-style: italic;
    font-size: 0.7em;
}



/* exo 5 : flex  */
.flex-div-parent{
    width: 50em;
    height: 20em;
    background-color: blue;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-div1,
.flex-div2,
.flex-div3{
    width: 10em;
    height: 10em;
    background-color: green;
}

.flex-div1{
    display: flex;
    align-items: end;
}

.flex-div2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-div3{
    display: flex;
    justify-content: end;
}


/* exo bootstrap */

.col-perso-1{
    background-color: yellow;
}

.col-perso-2{
    background-color: grey;
}

.btn-perso{
    background-color: yellow;
    color: black;
}
.btn-perso:hover{
    background-color: grey;
}

