/* EXO 1 */
#titre{
    color: blue;
    font-weight: bold;
    text-align: center;
    /* EXO 2 */
    margin: 0;
}

.mon-header{
    background-color: #a1a1a1;

    /* EXO 2 */
    padding: 2em;

}

/* EXO 2 */
body{
    margin: 0;
}

.nav-li{
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
    /* list-style-type: none; */
}

.lien{
    text-decoration: none;
    color: black;
}

/* EXO 3 */
.mon-btn-connexion{
    border-radius: 30px;
    background-color: rgb(164, 235, 164);
    padding: 1.5em;
}

.mon-btn-connexion:hover{
    background-color: #696969;
    color: white;
    cursor: grab;
}
